body{
    background-color: rgb(158, 157, 154);
}

.ThankYouContainer{
    display: flex;
    flex-direction: column;
    align-items:center !important ;
   margin-top: 15% !important;
   padding: 2%;
   width: 40% !important;
   margin-left: 28% !important;
   max-width: 100%;
}
.ThankYouContainer h1{
    font-size: 2.2rem;
    font-weight: bolder;
}
button{
    background-color: rgb(46, 111, 191);
    color: white;
    padding: 2%;
    font-size: 1.5rem;
    font-weight: bold;
}
button:hover{
    background-color: white;
    color:rgb(46, 111, 191) ;
}
/*make responsive*/
@media screen and (min-width: 768px){
    .ThankYouContainer{
        margin-top: 50%;
        width: 80% !important;
        margin-left: 8% !important;
    }
}
@media (min-width: 768px) and (max-width: 912px) {
    .ThankYouContainer{
        width: 75% !important;
        margin-left: 11% !important;
    }
}



