/* Add your custom styles here */
body {
    padding-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.table {
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
}

.table th {
    background-color: #f8f9fa;
    color: #495057;
}

.table td {
    vertical-align: middle;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.text-center {
    text-align: center;
}


.chart-container {
    height: 300px; /* Adjust the height as needed */
    overflow: auto; /* or overflow: hidden; */
    
}
