body{
    background-color: #25274d;
}
#container1{
    margin-top: 5%;
}
.page_title h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
    color: rgb(63, 55, 133);
}

.hr-custom {
    border-color: #47484cea;
}
.row{
    display: flex;
    justify-content: center; /* Horizontal centering */
    border-radius: 0.5rem;
    padding: 10px;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-5{
    background: #5a70d4;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.profile-image{
    margin-top:20%;
}
.col-md-5 img{
    width: auto;
    height: 200px;
    border-radius: 50%;
    display: flex;  /* align image */
    justify-content: center;
    margin-top: 20px; /* Margin abow the image */
}

.col-md-7{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
.form-control{
    background-color: rgb(228, 232, 234)!important;
    color: #25274d !important;
}